<connectionStrings>
  <add name="safetyButton" connectionString="server=localhost;port=5432;database=safetyButton; user=postgres;password=postgres" providerName="Npgsql" />
  <add name="safetyButtonMongo" connectionString="mongodb://193.124.115.155:27017/safetybutton"/>
  <!--
  <add name="safetyButton" connectionString="server=193.124.115.155;port=5432;database=safetyButton; user=postgres;password=dw[Km93>" providerName="Npgsql" />
  <add name="safetyButtonMongo" connectionString="mongodb://193.124.115.155:27017/safetybutton"/>
  -->
</connectionStrings>